<footer class="footer">
    <%- partial('_plugins/statistics/index', {position: 'site'}) %> 
    <% if (theme.footer.copyright_since !== false) { %>
        <%
        let copyright_yr;
        if (theme.footer.copyright_since !== null) {
            copyright_yr = `${theme.footer.copyright_since}&nbsp;-&nbsp;${date(Date.now(), 'YYYY')}`
        } else {
            copyright_yr = `${date(Date.now(), 'YYYY')}`
        }
        %>
        <p class="footer-copyright">
            <span></span>Copyright © <%- copyright_yr %> <a href="<%= url_for('/') %>" class="button"><%= config.title %></a></span>
            <span> | </span>
            <span><a href="<%= url_for('/atom.xml') %>" class="button">RSS</a></span>
        </p>
    <% } %>
    <% if (theme.footer.custom_text && theme.footer.custom_text.length) { %>
        <% for(let i = 0; i < theme.footer.custom_text.length; ++i) { %>
            <%- markdown(theme.footer.custom_text[i]) %>
        <% } %>
    <% } %>
    <p>
        <span>Powered by <a href="https://hexo.io" target="_blank" ref="nofollow noopener noreferrer" class="button">Hexo</a></span>
        <span> | </span>
        <span>Theme - <a href="https://github.com/ChrAlpha/hexo-theme-cards" target="_blank" rel="nofollow noopener noreferrer" class="button">Cards</a></span>
    </p>
    <% if (page.copyright !== false) { %>
    <p>
            <span><a href="<%= theme.meta.copyright.license_url %>" rel="nofollow noopener noreferrer" target="_blank" class="button"><%= theme.meta.copyright.license_name %></a></span>
    </p>
    <% } %>
</footer>
